<?xml version="1.0" encoding="UTF-8"?>
<!-- v1.1.2 -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>Controller.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAccountEditServlet</servlet-name>
    <servlet-class>Controller.UserAccountEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccountEditServlet</servlet-name>
    <url-pattern>/accountEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>Controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAdminServlet</servlet-name>
    <servlet-class>Controller.CreateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAdminServlet</servlet-name>
    <url-pattern>/createAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListOfSortedProducts</display-name>
    <servlet-name>ListOfSortedProducts</servlet-name>
    <servlet-class>Controller.ListOfSortedProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfSortedProducts</servlet-name>
    <url-pattern>/ListOfSortedProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchByCategory</servlet-name>
    <servlet-class>Controller.SearchByCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByCategory</servlet-name>
    <url-pattern>/SearchByCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MengePruefen</servlet-name>
    <servlet-class>Controller.MengePruefen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MengePruefen</servlet-name>
    <url-pattern>/MengePruefen</url-pattern>
  </servlet-mapping>
</web-app>